<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">
	<title>Camera Recording</title>	
	<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />	
</head>
<body>
	<a id="camera" href="{{ url_for('showCamera') }}" target="_self" class="btn">Go to Record Video</a>
<h2>Select file to upload and scan Pothholes.</h2>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload" formtarget="_self">
	</p>
</form>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}	

</p>
{{location}}
{% if id %}
<a href="{{ url_for('download', upload_id=id) }}" target="_self">Download result</a>
{% endif %}
</body>
</html>
