<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pothole Segmentation</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/product.css') }}" />

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload_form') }}">Upload Files <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('showCamera') }}">Record Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('showresults') }}">Show all scanned results</a>
          </li>
         
        </ul>
       
      </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        
        <h2>The scanned pothole video</h2>

        {% if address %}
        Address: {{ address }}
        <br/>
        {% endif %}
        
        {% if id %}
        <br/>
        <a href="{{ url_for('download', upload_id=id) }}" target="_self" class="btn">Download result</a>
        <br/>
        <video id="playback" style="width: 100%;" src="{{ url_for('download', upload_id=id) }}" controls="true" autoplay play="true"></video> 
        {% endif %}
        
        <script src="{{ url_for('static',filename='js/adapter-latest.js') }}"></script>
        <script src="{{ url_for('static',filename='js/main.js') }}"></script>
        

      
    </div>

  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  
   
  </body>
</html>
